@import 'sass/_variables';
@import '../themes.scss';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;500&display=swap');

*
{
  font-family: 'Outfit', sans-serif;
}
h1
{
  justify-self: flex-start;
}
a
{
  text-decoration: none;
}
.btn-group
{
  display: flex;
}
.btn
{
  &__mid
  {
    display: none;
    @media (max-width:700px) and (min-width:350px) {
      display: flex;
    }
  }
  &__mobile
  {
    display: none;
    @media (max-width:350px) {
      display: flex;
      font-size: 1.5rem!important;
    }
  }
  margin: 0 5%;
    a{
      color: white!important;
      text-decoration: none;
    }
    @media (max-width:700px) {
      display: none;
    }
}
