@import 'sass/_variables';
@import '../themes.scss';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;500&display=swap');

*
{
  font-family: 'Outfit', sans-serif;
}
.header
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
}
.logo
{
  width: 80%;
  &--mobile
  {
    display: none;
  }
  @media (max-width:500px) {
    display: none;
    &--mobile
    {
      display: flex;
      width: 25%;
      min-width: 60px;
      align-items: stretch;
    }
  }
}
a
{
  text-decoration: none;
}
.btn-group
{
  display: flex;
}
.btn
{
  &__mid
  {
    display: none;
    @media (max-width:780px) and (min-width:350px) {
      display: flex;
    }
  }
  &__mobile
  {
    display: none;
    @media (max-width:350px) {
      display: flex;
      font-size: 1.5rem!important;
    }
  }
  margin: 0 5%;
    a{
      color: white!important;
      text-decoration: none;
    }
    @media (max-width:780px) {
      display: none;
      &__logout
      {
        display: block;
      }
    }
}
.post-icon
{
  display: flex;
  font-size: larger;
  border-radius: 10%;
  background: $color-primary;
  padding: .5rem;
  width: 4rem;
  justify-content: center;
  align-items: center;
  nb-action
  {
    color: white;
  }
}
