<nb-layout>

  <nb-layout-header>
        <a routerLink="/view"><img src="../assets/images/icon-left-font-monochrome-black.svg" alt=""></a>
        <div class="btn-group">
          <button nbButton
            class="btn btn__post"
            status="primary">
            <a routerLink="/post">Post</a>
          </button>
          <button nbButton
            class="btn btn__login"
            status="primary"
            *ngIf="isAuth === false">
            <a routerLink="/auth">Se connecter</a>
          </button>
          <button nbButton
            class="btn btn__signUp"
            status="primary"
            *ngIf="isAuth === false"
            >
            <a routerLink="/signUp">S'inscrire</a>
          </button>
          <button nbButton
          status="danger"
            class="btn btn__signUp"
            *ngIf="isAuth === true"
            (click) = "onDisconnect()">
            <a routerLink="view">Deconnexion</a>
        </button>
        <button outline nbButton [nbContextMenu]="items" nbContextMenuTag="my-context-menu" class="btn__mid" status="primary">
          Menu
        </button>
        <button nbButton [nbContextMenu]="items" nbContextMenuTag="my-context-menu" class="btn__mobile"><nb-icon icon="menu"></nb-icon></button>
      </div>
  </nb-layout-header>

    <nb-layout-column>
      <router-outlet></router-outlet>
    </nb-layout-column>

<nb-layout-footer></nb-layout-footer>
</nb-layout>

