<nb-layout-column>
  <nb-card *ngFor="let post of posts$ | async"
  [postId]="post.id">
      <nb-card-header>
        <nb-user size="medium"
              name="{{post.nom + ' ' + post.prenom}}"
              color="#cccccc">
      </nb-user>
      <span class="post__date">Publié le : {{post.posted_at | date}}</span>
      </nb-card-header>
      <nb-card-body>
        {{post.message}}
        <img *ngIf="post.image" src="{{post.image}}" alt="">
      </nb-card-body>
      <nb-card-footer>
        <div>
          <a (click)="onLike(post.id)" class="like"><nb-icon icon="heart-outline"></nb-icon></a>
          <a routerLink="/view/{{post.id}}">Commentaires</a>
        </div>
        <button nbButton shape="round" size="small" status="danger" *ngIf="userId === post.user_id || isAdmin === 1" (click)="delete(post.id)" >Supprimer</button>
      </nb-card-footer>
  </nb-card>
</nb-layout-column>
