@import '../../sass/font';
@import '../../sass/_variables';

a
  {
    text-decoration: none;
  }
nb-card
{
  margin: 5% 10%;

}
nb-card-header
{
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
  justify-content: space-between;
  .post__date
  {
    font-size: x-small;
    margin: 0 5%;
  }
}
:host nb-icon{
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-size: 1.5rem;
    background-position: bottom;
    background: linear-gradient(to bottom,transparent 33%, $color-primary, $color-secondary);
    -webkit-background-clip: text;
    background-clip: text;
    transition: all 200ms ease-in;
    background-size: 100% 200%;
    &:hover
    {
      background-position: bottom;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke-color: transparent;
    }
}
nb-card-body
{
  display: flex;
  flex-direction: column;
  img
  {
    padding-top: 5%;
  }
}
nb-card-footer
{
  display: flex;
  justify-content: space-between;
  padding: .5em 5%;
  div
  {
    display: flex;
    align-items: center;
  }
  .link-comment
  {
    margin-left: 15%;
  }
}
