<h1>Se connecter</h1>
  <form (ngSubmit)="onLogin(f)" #f="ngForm">
    <input  name="email" ngModel class="input" type="text" status="primary" nbInput fullWidth shape="round" placeholder="Adresse email">
    <nb-form-field>
      <input type="password" nbInput fullWidth shape="round" ngModel
      name="password"
      placeholder="Mot de passe">
    </nb-form-field>

    <button nbButton
    shape="semi-round"
    status="info"
    nbPopover="Email ou mot de passe erroné"
    nbPopoverPlacement="end">
    Se connecter</button>
    <p>Vous n'êtes pas inscrit ? <a routerLink="/signUp"> Cliquez ici</a></p>
  </form>
