<nb-card *ngFor="let post of post$ | async">
  <nb-card-header [postId]="post.nom">
    <nb-user size="medium"
          name="{{post.nom + ' ' + post.prenom}}"
          color="#cccccc">
  </nb-user>
  <span class="post__date">Publié le : {{post.posted_at | date}}</span>
  </nb-card-header>
  <nb-card-body>
    {{post.message}}
    <img *ngIf="post.image" src="{{post.image}}" alt="">
  </nb-card-body>
  <nb-card-footer>
    <nb-icon icon="heart-outline"></nb-icon>
    <button nbButton shape="round" size="small" status="danger" *ngIf="" >Supprimer</button>
  </nb-card-footer>
</nb-card>
<div class="comments" *ngFor="let post of post$ | async">
  <form (ngSubmit)="onComment(f)" #f="ngForm">
    <input ngModel name="comment" type="text" nbInput fullWidth shape="round" placeholder="Commentaires">
    <button nbButton shape="round" size="small" status="primary" (click)="getPostId(post.id)" >Envoyer</button>
  </form>
</div>
<nb-layout-column class >
  <nb-card *ngFor="let comment of comments$ | async">
    <nb-card-header>
      <div class="card-comment__header">
        <nb-user size="medium"
            name="{{comment.nom + ' ' + comment.prenom}}"
            color="#cccccc">
        </nb-user>
        <span class="card-comment__date">Publié le : {{comment.date | date: 'short'}}</span>
      </div>
    </nb-card-header>
    <nb-card-body class="card-comment">

      {{comment.comment}}
    </nb-card-body>
    </nb-card>
</nb-layout-column>
