@import '../../sass/font';

nb-card-header
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nb-card-body
{
  display: flex;
  flex-direction: column;
}
form
{
  display: flex;
  flex-direction: row;
  input
  {
    width: 100%;
  }
}
.card-comment
{
  display: flex;
  flex-direction: row;
  &__header
  {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__date
  {
    font-size: x-small;
  }
}
