<nb-icon routerLink="/view" icon="arrow-ios-back-outline" class="back"></nb-icon>
<nb-card>
  <nb-card-header [postId]="post.nom">
    <nb-user size="medium"
          name="{{post.nom + ' ' + post.prenom}}"
          color="#cccccc">
  </nb-user>
  <span class="post__date">{{post.posted_at | date}}</span>
  </nb-card-header>
  <nb-card-body>
    {{post.message}}
    <img *ngIf="post.image" src="{{post.image}}" alt="">
  </nb-card-body>
  <nb-card-footer>
    <nb-actions size="medium">
      <nb-action (click)="onLike(post.id)" [icon]="(hasUserLike$ | async)?'heart' : 'heart-outline' " badgePosition="bottom left" badgeStatus="danger" badgeText="{{post.liked}}"></nb-action>
      <nb-action icon="trash-outline" *ngIf="userId === post.user_id || isAdmin === 1" (click)="delete(post.id)"></nb-action>
    </nb-actions>
  </nb-card-footer>
</nb-card>

  <form (ngSubmit)="onComment(f)" #f="ngForm" class="form-comment">
    <input ngModel name="comment" status="primary" type="text" nbInput shape="round" placeholder="Commentaires" fullWidth>
    <button nbButton shape="round" size="small" status="primary" (click)="getPostId(post.id)" >Envoyer</button>
  </form>

<nb-layout-column class >
  <nb-card *ngFor="let comment of comments$ | async">
    <nb-card-header>
      <div class="card-comment__header">
        <nb-user size="medium"
            name="{{comment.nom + ' ' + comment.prenom}}"
            color="#cccccc">
        </nb-user>
        <span class="card-comment__date">{{comment.date | date }}</span>
        <nb-action icon="trash-outline" class="delete-comment" *ngIf="userId === post.user_id || isAdmin === 1" (click)="delete(post.id)"></nb-action>
      </div>
    </nb-card-header>
    <nb-card-body class="card-comment">
      {{comment.comment}}
    </nb-card-body>
    </nb-card>
</nb-layout-column>
