<nb-card *ngFor="let post of post$ | async">
  <nb-card-header [postId]="post.nom">
    <nb-user size="medium"
          name="{{post.nom + ' ' + post.prenom}}"
          color="#cccccc">
  </nb-user>
  <span class="post__date">Publié le : {{post.posted_at | date}}</span>
  </nb-card-header>
  <nb-card-body>
    {{post.message}}
    <img *ngIf="post.image" src="{{post.image}}" alt="">
  </nb-card-body>
  <nb-card-footer>
    <nb-actions size="medium">
      <nb-action (click)="onLike(post.id)"class="like" icon="heart-outline" badgePosition="bottom left" badgeStatus="danger" badgeText="{{post.liked}}"></nb-action>
    </nb-actions>
  </nb-card-footer>
</nb-card>

  <form (ngSubmit)="onComment(f)" #f="ngForm" *ngFor="let post of post$ | async" class="form-comment">
    <input ngModel name="comment" status="primary" type="text" nbInput shape="round" placeholder="Commentaires" fullWidth>
    <button nbButton shape="round" size="small" status="primary" (click)="getPostId(post.id)" >Envoyer</button>
  </form>

<nb-layout-column class >
  <nb-card *ngFor="let comment of comments$ | async">
    <nb-card-header>
      <div class="card-comment__header">
        <nb-user size="medium"
            name="{{comment.nom + ' ' + comment.prenom}}"
            color="#cccccc">
        </nb-user>
        <span class="card-comment__date">Publié le : {{comment.date | date }}</span>
      </div>
    </nb-card-header>
    <nb-card-body class="card-comment">

      {{comment.comment}}
    </nb-card-body>
    </nb-card>
</nb-layout-column>
